<mat-toolbar color="primary">
  

  <mat-toolbar-row>
    <span class="navbar-brand">
      <img src="assets/images/PM.png" width="70">
    </span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <!-- <mat-icon>acccount_circle</mat-icon> -->
      <i class="material-icons">
        account_circle
        </i>
    </button>
    <mat-menu #menu="matMenu">
     
      <!-- <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>-->
      <!-- <button mat-menu-item (click)="openDialog()">
        <mat-icon>fingerprint</mat-icon>
        <span>Manage Profile</span>
      </button>  -->

      <button mat-menu-item title="Logout" routerLink="/login">
         <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>